<table class="table table-bordered table-striped table-hover">
  <tr>
    <th>Name</th>
    <th>Username</th>
    <th>E-Mail</th>
    <th>Phone</th>
    <th>&nbsp;</th>
  </tr>

  <tr *ngFor="let user of users; trackBy: identify">
    <td><a routerLink="/users/{{ user.get('id') }}">{{ user.get('name') }}</a></td>
    <td>{{ user.get('username') }}</td>
    <td>{{ user.get('email') }}</td>
    <td>{{ user.get('phone') }}</td>
    <td><a class="delete-link" (click)="deleteUser.next(user)">delete</a></td>
  </tr>

  <tr *ngIf="!usersAvailable">
    <td colspan="4" class="no-users-info">No users available</td>
  </tr>
</table>

<div *ngIf="loading" class="loading-animation">Users loading ...</div>
